# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Production build
dist

# Environment variables
.env*

# Debug
debug.log*

# Local development
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
*.md

# Logs
*.log
